/*mobile firts*/
header{
    margin-bottom: 60px;
}
header h2{
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    line-height: 25.18px;
    color: #333333;
}
#scarecrow{
    margin-left: 44px;
    margin-right: 44px;
    width: 286.83px;
    height: 238px;
}
#scarecrow img{
    width: 100%;
}
#other{
    margin-left: 24px;
}
#other h1{
    margin-top: 60px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    line-height: 71.09px;
}
#other p{
    width: 328px;
    height: 81px;
    margin-top: 30px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.66px;
    color: #4f4f4f;
}
#other button{
    width: 216px;
    height: 68px;
    margin-top: 66px;
    background-color: #333333;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20.73px;
    border: none;
}
footer{
    margin-top: 115px;
}
footer p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    text-align: center;
    color: #bdbdbd;
}
footer p a{
    font-weight: 700;
    color: #bdbdbd;
}
/*Desktop styles*/

@media (min-width:768px){
    main{
        display: flex;
        margin-top: 200px;
    }
    #scarecrow{
        width: 539.22px;
        height: 447.43px;
        margin-right: 118.78px;
        margin-left: 77px;
    }
    #other h1{
        width: 586px;
        height: 190px;
        font-size: 64px;
        line-height: 94.78px;
    }
    #other p{
        width: 381px;
        height: 108px;
        font-size: 24px;
        line-height: 35.54px;
    }
}


